<!DOCTYPE html>
<html>
  <head>
    <title>RailsCloudScraper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_bundle_tag("javascripts") %>
    <%= javascript_bundle_tag("styles") %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
